<div class="container">
    <form>
        <div class="ui-g">

            <div class="ui-g-12">
                <h1> Nova Pessoa</h1>
            </div>

            <div class="ui-g-12 ui-fluid">
                <label>Nome</label>
                <input ngModel name="nome" #nome="ngModel" pInputText type="text" required>
                <!-- <app-message [control]="nome" error="required" text="Informe um nome"></app-message> -->
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Logradouro</label>
                <input ngModel name="logradouro" #logradouro="ngModel" pInputText type="text" required>
                <!-- <app-message [control]="logradouro" error="required" text="Informe o logradouro"></app-message> -->
            </div>

            <div class="ui-g-12 ui-md-3 ui-fluid">
                <label>Número</label>
                <input ngModel name="numero" #numero="ngModel" pInputText type="text" required>
                <!-- <app-message [control]="numero" error="required" text="Informe um número"></app-message> -->
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Complemento</label>
                <input pInputText type="text">
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Bairro</label>
                <input ngModel name="bairro" #bairro="ngModel" pInputText type="text" required>
                <!-- <app-message [control]="bairro" error="required" text="Informe o bairro"></app-message> -->
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>CEP</label>
                <p-inputMask ngModel name="cep" #cep="ngModel" mask="99999-999" required></p-inputMask>
                <!-- <app-message [control]="cep" error="required" text="Informe um cep"></app-message> -->
            </div>

            <div class="ui-g-6 ui-fluid">
                <label>Cidade</label>
                <input ngModel name="cidade" #cidade="ngModel" pInputText type="text" required>
                <!-- <app-message [control]="cidade" error="required" text="Informe uma cidade"></app-message> -->
            </div>

            <div class="ui-g-6 ui-fluid">
                <label>Estado</label>
                <input ngModel name="estado" #estado="ngModel" pInputText type="text" required maxlength="2">
                <!-- <app-message [control]="estado" error="required" text="Informe um estado"></app-message> -->
            </div>

            <div class="ui-g-12">

                <button pButton type="submit" label="Salvar"></button>
                <button pButton type="button" label="Novo"></button>
                <a href="#">Voltar para a pesquisa</a>
            </div>

        </div>
    </form>
</div>